<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Common\packages.config" />
  <repository path="..\src\EventCapture\packages.config" />
  <repository path="..\src\FortitudeCommon\packages.config" />
  <repository path="..\src\FortitudeCore\packages.config" />
  <repository path="..\src\MarketAccess\packages.config" />
</repositories>