<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="loggerfile" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp} ${level} ${message}${exception:format=ToString}"
      fileName="logs/${logger}.log" autoFlush="True" keepFileOpen="True" deleteOldFileOnStartup="true"/>
    <target name="pqloggerfile" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"
      fileName="logs/PQ.log" autoFlush="True" keepFileOpen="True" deleteOldFileOnStartup="true"/>
    <target name="console" xsi:type="Console"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"/>
    <target name="loggercsv" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp};${message}"
      fileName="logs/${logger}.log" autoFlush="True" keepFileOpen="True"/>
    <target name="defaultfile" xsi:type="File" autoFlush="True" keepFileOpen="True"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"
      fileName="logs/Default.log" deleteOldFileOnStartup="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="defaultfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
