<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="loggerfile" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp} ${level} ${message}${exception:format=ToString}"
      fileName="logs/${logger}.log" autoFlush="True" keepFileOpen="True"/>
    <target name="pqloggerfile" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"
      fileName="logs/PQ.log" autoFlush="True" keepFileOpen="True"/>
    <target name="console" xsi:type="Console"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"/>
    <target name="loggercsv" xsi:type="File"
      layout="${event-context:item=PreciseTimestamp};${message}"
      fileName="logs/${logger}.log" autoFlush="True" keepFileOpen="True"/>
    <target name="defaultfile" xsi:type="File" autoFlush="True" keepFileOpen="True"
      layout="${event-context:item=PreciseTimestamp} ${level} [${logger}] ${message}${exception:format=ToString}"
      fileName="logs/Default.log"/>
  </targets>

  <rules>
    <logger name="SIO" minlevel="Info" writeTo="console" />
    <logger name="ORX" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="defaultfile" />
    <logger name="Latency.*" minlevel="Debug" writeTo="loggerfile" />
    <logger name="Trace.*" minlevel="Debug" writeTo="loggerfile" />
    <logger name="DiagnosticSettings" minlevel="Info" writeTo="loggerfile" />
    <logger name="CallStats.*" minlevel="Debug" writeTo="loggerfile" />
    <logger name="SocketByteDump.*" minlevel="Debug" writeTo="loggercsv" />
    <logger name="FortitudeCore.Pricing.PQ.*" minlevel="Debug" writeTo="pqloggerfile" />
    <logger name="ORX" minlevel="Info" writeTo="loggerfile" />
  </rules>
</nlog>
